# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Node
node_modules/
yarn.lock
npm-debug.log*

# Editors
.DS_Store
.idea/
.vscode/

# Docker
*.pid

# Logs
logs/
*.log

# Coverage
htmlcov/
.coverage*

